In [1]:
import psycopg2
import pandas as pd
from datetime import datetime, time

In [3]:
# Conexión a la base de datos
conn = psycopg2.connect(
    dbname="fligth-database",
    user="postgres",
    password="Jennifer2004*",
    host="localhost",
    port="5432"
)

# Crear un cursor para ejecutar consultas
cur = conn.cursor()

In [4]:
cur.execute("SELECT * FROM flights; ")
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df = pd.DataFrame(resultados, columns=columnas)
pd.options.display.max_columns = None
print(df.head())

   flight_id     fl_date op_unique_carrier  op_carrier_airline_id op_carrier  \
0          1  2019-12-01                9E                  20363         9E
1          2  2019-12-01                9E                  20363         9E
2          3  2019-12-01                DL                  19790         DL
3          4  2019-12-01                DL                  19790         DL
4          5  2019-12-01                DL                  19790         DL

  tail_num op_carrier_fl_num  origin_airport_id  dest_airport_id crs_dep_time  \
0   N293PQ              3406              10599            12953     16:46:00
1   N293PQ              3406              12953            10599     14:27:00
2   N349NW              2391              10397            13422     19:41:00
3   N901DE              1129              10397            10599     21:11:00
4   N903DE              2242              10599            10397     07:40:00

   dep_time  dep_delay wheels_off wheels_on crs_arr_time  arr_time  arr_delay  \
0  18:13:00       87.0   18:28:00  21:36:00     20:19:00  21:40:00       81.0
1  14:27:00        0.0   16:05:00  17:33:00     16:10:00  17:39:00       89.0
2  20:52:00       71.0   21:09:00  21:02:00     19:55:00  21:08:00       73.0
3  21:08:00       -3.0   21:22:00  20:50:00     21:05:00  20:54:00      -11.0
4  07:37:00       -3.0   07:52:00  09:23:00     09:48:00  09:30:00      -18.0

   cancelled  diverted  air_time  distance  flights
0       True      True     128.0     866.0      1.0
1       True      True     148.0     866.0      1.0
2       True      True      53.0     302.0      1.0
3       True      True      28.0     134.0      1.0
4       True      True      31.0     134.0      1.0

In [5]:
print(df.describe())

           flight_id  op_carrier_airline_id  origin_airport_id  \
count  338920.000000          338920.000000      338920.000000
mean   169460.500000           20158.708138       11515.058326
std     97837.920954             352.623230        1113.245546
min         1.000000           19393.000000       10397.000000
25%     84730.750000           19790.000000       10599.000000
50%    169460.500000           20363.000000       11278.000000
75%    254190.250000           20397.000000       12217.000000
max    338920.000000           20452.000000       15919.000000

       dest_airport_id      dep_delay      arr_delay       air_time  \
count    338920.000000  331712.000000  330832.000000  330832.000000
mean      11515.495312       9.372118       4.745678      72.924276
std        1114.244841      49.637737      51.279230      33.408108
min       10397.000000     -52.000000     -77.000000      14.000000
25%       10599.000000      -6.000000     -15.000000      44.000000
50%       11278.000000      -3.000000      -7.000000      75.000000
75%       12217.000000       4.000000       6.000000      93.000000
max       15919.000000    2573.000000    2577.000000     276.000000

            distance   flights
count  338920.000000  338920.0
mean      472.870335       1.0
std       262.763489       0.0
min       134.000000       1.0
25%       302.000000       1.0
50%       539.000000       1.0
75%       603.000000       1.0
max      1815.000000       1.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338920 entries, 0 to 338919
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   flight_id              338920 non-null  int64
 1   fl_date                338920 non-null  object
 2   op_unique_carrier      338920 non-null  object
 3   op_carrier_airline_id  338920 non-null  int64
 4   op_carrier             338920 non-null  object
 5   tail_num               337122 non-null  object
 6   op_carrier_fl_num      338920 non-null  object
 7   origin_airport_id      338920 non-null  int64
 8   dest_airport_id        338920 non-null  int64
 9   crs_dep_time           338920 non-null  object
 10  dep_time               331714 non-null  object
 11  dep_delay              331712 non-null  float64
 12  wheels_off             331586 non-null  object
 13  wheels_on              331535 non-null  object
 14  crs_arr_time           338920 non-null  object
 15  arr_time               331535 non-null  object
 16  arr_delay              330832 non-null  float64
 17  cancelled              338920 non-null  bool
 18  diverted               338920 non-null  bool
 19  air_time               330832 non-null  float64
 20  distance               338920 non-null  float64
 21  flights                338920 non-null  float64
dtypes: bool(2), float64(5), int64(4), object(11)
memory usage: 52.4+ MB

In [10]:
conn.rollback()  # Reinicia la transacción
cur.execute("SELECT * FROM airlines;")  # Ahora debería funcionar

In [11]:
cur.execute("SELECT * FROM airlines ;")
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df = pd.DataFrame(resultados, columns=columnas)
pd.options.display.max_columns = None
print(df.head())

   airline_id unique_carrier
0       20363             9E
1       19790             DL
2       20366             EV
3       20398             MQ
4       20397             OH

In [12]:
print(df.describe())
import pandas as pd

# Suponiendo que df es tu DataFrame
#df_limpio = df.dropna(subset=['airport_id'])
df.info()

         airline_id
count     13.000000
mean   20190.384615
std      337.193698
min    19393.000000
25%    19977.000000
50%    20366.000000
75%    20398.000000
max    20452.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   airline_id      13 non-null     int64
 1   unique_carrier  13 non-null     object
dtypes: int64(1), object(1)
memory usage: 340.0+ bytes

In [ ]:

cur.execute("SELECT * FROM airports ;")
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df = pd.DataFrame(resultados, columns=columnas)
pd.options.display.max_columns = None
print(df.head())

   airport_id  airport_seq_id  city_market_id code       city_name state_abr  \
0       10599         1059904           30599  BHM  Birmingham, AL        AL
1       12953         1295304           31703  LGA    New York, NY        NY
2       10397         1039707           30397  ATL     Atlanta, GA        GA
3       13422         1342202           30562  MOB      Mobile, AL        AL
4       12217         1221702           30255  HSV  Huntsville, AL        AL

  state_fips state_name  wac
0         01    Alabama   51
1         36   New York   22
2         13    Georgia   34
3         01    Alabama   51
4         01    Alabama   51

In [14]:
print(df.describe())
import pandas as pd

# Suponiendo que df es tu DataFrame
#df_limpio = df.dropna(subset=['airport_id'])
df.info()

         airport_id  airport_seq_id  city_market_id        wac
count     46.000000    4.600000e+01       46.000000  46.000000
mean   12480.543478    1.248058e+06    31505.130435  54.869565
std     1447.942766    1.447944e+05     1075.286600  18.976721
min    10397.000000    1.039707e+06    30194.000000  22.000000
25%    11263.750000    1.126379e+06    30715.000000  38.750000
50%    12302.500000    1.230254e+06    31176.000000  51.000000
75%    13402.000000    1.340203e+06    32211.000000  74.000000
max    15919.000000    1.591905e+06    34100.000000  91.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   airport_id      46 non-null     int64
 1   airport_seq_id  46 non-null     int64
 2   city_market_id  46 non-null     int64
 3   code            46 non-null     object
 4   city_name       46 non-null     object
 5   state_abr       46 non-null     object
 6   state_fips      46 non-null     object
 7   state_name      46 non-null     object
 8   wac             46 non-null     int64
dtypes: int64(4), object(5)
memory usage: 3.4+ KB

In [26]:
# Cerrar conexión
cur.close()
conn.close()