In [1]:
import psycopg2
import pandas as pd
from datetime import datetime, time

In [2]:
# Conexi√≥n a la base de datos
conn = psycopg2.connect(
    dbname="fligth-database",
    user="postgres",
    password="Jennifer2004*",
    host="localhost",
    port="5432"
)

# Crear un cursor para ejecutar consultas
cur = conn.cursor()

In [35]:
cur.execute("SELECT * FROM flights; ")
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df = pd.DataFrame(resultados, columns=columnas)
pd.options.display.max_columns = None
print(df.head())

   flight_id     fl_date op_unique_carrier  op_carrier_airline_id op_carrier  \
0          1  2019-12-01                9E                  20363         9E
1          2  2019-12-01                9E                  20363         9E
2          3  2019-12-01                DL                  19790         DL
3          4  2019-12-01                DL                  19790         DL
4          5  2019-12-01                DL                  19790         DL

  tail_num op_carrier_fl_num  origin_airport_id  dest_airport_id crs_dep_time  \
0   N293PQ              3406              10599            12953     16:46:00
1   N293PQ              3406              12953            10599     14:27:00
2   N349NW              2391              10397            13422     19:41:00
3   N901DE              1129              10397            10599     21:11:00
4   N903DE              2242              10599            10397     07:40:00

   dep_time  dep_delay wheels_off wheels_on crs_arr_time  arr_time  arr_delay  \
0  18:13:00       87.0   18:28:00  21:36:00     20:19:00  21:40:00       81.0
1  14:27:00        0.0   16:05:00  17:33:00     16:10:00  17:39:00       89.0
2  20:52:00       71.0   21:09:00  21:02:00     19:55:00  21:08:00       73.0
3  21:08:00       -3.0   21:22:00  20:50:00     21:05:00  20:54:00      -11.0
4  07:37:00       -3.0   07:52:00  09:23:00     09:48:00  09:30:00      -18.0

   cancelled cancellation_code  diverted  air_time  distance  flights
0      False              None     False     128.0     866.0      1.0
1      False              None     False     148.0     866.0      1.0
2      False              None     False      53.0     302.0      1.0
3      False              None     False      28.0     134.0      1.0
4      False              None     False      31.0     134.0      1.0

In [ ]:
print(df.describe())

           flight_id  op_carrier_airline_id  origin_airport_id  \
count  338920.000000          338920.000000      338920.000000
mean   169460.500000           20158.708138       11515.058326
std     97837.920954             352.623230        1113.245546
min         1.000000           19393.000000       10397.000000
25%     84730.750000           19790.000000       10599.000000
50%    169460.500000           20363.000000       11278.000000
75%    254190.250000           20397.000000       12217.000000
max    338920.000000           20452.000000       15919.000000

       dest_airport_id      dep_delay      arr_delay       air_time  \
count    338920.000000  331712.000000  330832.000000  330832.000000
mean      11515.495312       9.372118       4.745678      72.924276
std        1114.244841      49.637737      51.279230      33.408108
min       10397.000000     -52.000000     -77.000000      14.000000
25%       10599.000000      -6.000000     -15.000000      44.000000
50%       11278.000000      -3.000000      -7.000000      75.000000
75%       12217.000000       4.000000       6.000000      93.000000
max       15919.000000    2573.000000    2577.000000     276.000000

            distance   flights
count  338920.000000  338920.0
mean      472.870335       1.0
std       262.763489       0.0
min       134.000000       1.0
25%       302.000000       1.0
50%       539.000000       1.0
75%       603.000000       1.0
max      1815.000000       1.0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338920 entries, 0 to 338919
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   flight_id              338920 non-null  int64
 1   fl_date                338920 non-null  object
 2   op_unique_carrier      338920 non-null  object
 3   op_carrier_airline_id  338920 non-null  int64
 4   op_carrier             338920 non-null  object
 5   tail_num               337122 non-null  object
 6   op_carrier_fl_num      338920 non-null  object
 7   origin_airport_id      338920 non-null  int64
 8   dest_airport_id        338920 non-null  int64
 9   crs_dep_time           338920 non-null  object
 10  dep_time               331714 non-null  object
 11  dep_delay              331712 non-null  float64
 12  wheels_off             331586 non-null  object
 13  wheels_on              331535 non-null  object
 14  crs_arr_time           338920 non-null  object
 15  arr_time               331535 non-null  object
 16  arr_delay              330832 non-null  float64
 17  cancelled              338920 non-null  bool
 18  cancellation_code      7353 non-null    object
 19  diverted               338920 non-null  bool
 20  air_time               330832 non-null  float64
 21  distance               338920 non-null  float64
 22  flights                338920 non-null  float64
dtypes: bool(2), float64(5), int64(4), object(12)
memory usage: 54.9+ MB

In [34]:

cur.execute("SELECT * FROM aircrafts ;")
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df = pd.DataFrame(resultados, columns=columnas)
pd.options.display.max_columns = None
print(df.head())

  tail_num op_unique_carrier manufacturer model year_built capacity
0   N293PQ                9E         None  None       None     None
1   N349NW                DL         None  None       None     None
2   N901DE                DL         None  None       None     None
3   N903DE                DL         None  None       None     None
4   N905DE                DL         None  None       None     None

In [32]:
print(df.describe())

df.info()

         airline_id
count     13.000000
mean   20190.384615
std      337.193698
min    19393.000000
25%    19977.000000
50%    20366.000000
75%    20398.000000
max    20452.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   airline_id      13 non-null     int64
 1   unique_carrier  13 non-null     object
 2   carrier_name    0 non-null      object
dtypes: int64(1), object(2)
memory usage: 444.0+ bytes

In [29]:
cur.execute("SELECT * FROM airlines ;")
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df = pd.DataFrame(resultados, columns=columnas)
pd.options.display.max_columns = None
print(df.head())

   airline_id unique_carrier carrier_name
0       20363             9E         None
1       19790             DL         None
2       20366             EV         None
3       20398             MQ         None
4       20397             OH         None

In [30]:
print(df.describe())
import pandas as pd

# Suponiendo que df es tu DataFrame
#df_limpio = df.dropna(subset=['airport_id'])
df.info()

         airline_id
count     13.000000
mean   20190.384615
std      337.193698
min    19393.000000
25%    19977.000000
50%    20366.000000
75%    20398.000000
max    20452.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   airline_id      13 non-null     int64
 1   unique_carrier  13 non-null     object
 2   carrier_name    0 non-null      object
dtypes: int64(1), object(2)
memory usage: 444.0+ bytes

In [ ]:

cur.execute("SELECT * FROM airports;")
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df = pd.DataFrame(resultados, columns=columnas)
pd.options.display.max_columns = None
print(df.head())

    airport_id  airport_seq_id  city_market_id code  \
0        10599         1059904           30599  BHM
1        12953         1295304           31703  LGA
2        10397         1039707           30397  ATL
3        13422         1342202           30562  MOB
4        12217         1221702           30255  HSV
5        12266         1226603           31453  IAH
6        11298         1129806           30194  DFW
7        13930         1393007           30977  ORD
8        13277         1327702           33277  MGM
9        13303         1330303           32467  MIA
10       11278         1127805           30852  DCA
11       11057         1105703           31057  CLT
12       14100         1410005           34100  PHL
13       11292         1129202           30325  DEN
14       11308         1130802           31308  DHN
15       11433         1143302           31295  DTW
16       13232         1323202           30977  MDW
17       11697         1169706           32467  FLL
18       11259         1125904           30194  DAL
19       15304         1530402           33195  TPA
20       13204         1320402           31454  MCO
21       10821         1082106           30852  BWI
22       12191         1219102           31453  HOU
23       12889         1288903           32211  LAS
24       12264         1226402           30852  IAD
25       10562         1056202           30562  BFM
26       15919         1591905           31834  XNA
27       13487         1348702           31650  MSP
28       11049         1104903           31049  CLL
29       14107         1410702           30466  PHX
30       10693         1069302           30693  BNA
31       13851         1385103           33851  OKC
32       10781         1078105           30781  BTR
33       12339         1233904           32337  IND
34       13198         1319801           33198  MCI
35       10423         1042302           30423  AUS
36       10868         1086803           30868  CAE
37       13485         1348502           33485  MSN
38       13342         1334207           33342  MKE
39       12892         1289208           32575  LAX

                    city_name state_abr state_fips      state_name  wac
0              Birmingham, AL        AL         01         Alabama   51
1                New York, NY        NY         36        New York   22
2                 Atlanta, GA        GA         13         Georgia   34
3                  Mobile, AL        AL         01         Alabama   51
4              Huntsville, AL        AL         01         Alabama   51
5                 Houston, TX        TX         48           Texas   74
6       Dallas/Fort Worth, TX        TX         48           Texas   74
7                 Chicago, IL        IL         17        Illinois   41
8              Montgomery, AL        AL         01         Alabama   51
9                   Miami, FL        FL         12         Florida   33
10             Washington, DC        VA         51        Virginia   38
11              Charlotte, NC        NC         37  North Carolina   36
12           Philadelphia, PA        PA         42    Pennsylvania   23
13                 Denver, CO        CO         08        Colorado   82
14                 Dothan, AL        AL         01         Alabama   51
15                Detroit, MI        MI         26        Michigan   43
16                Chicago, IL        IL         17        Illinois   41
17        Fort Lauderdale, FL        FL         12         Florida   33
18                 Dallas, TX        TX         48           Texas   74
19                  Tampa, FL        FL         12         Florida   33
20                Orlando, FL        FL         12         Florida   33
21              Baltimore, MD        MD         24        Maryland   35
22                Houston, TX        TX         48           Texas   74
23              Las Vegas, NV        NV         32          Nevada   85
24             Washington, DC        VA         51        Virginia   38
25                 Mobile, AL        AL         01         Alabama   51
26           Fayetteville, AR        AR         05        Arkansas   71
27            Minneapolis, MN        MN         27       Minnesota   63
28  College Station/Bryan, TX        TX         48           Texas   74
29                Phoenix, AZ        AZ         04         Arizona   81
30              Nashville, TN        TN         47       Tennessee   54
31          Oklahoma City, OK        OK         40        Oklahoma   73
32            Baton Rouge, LA        LA         22       Louisiana   72
33           Indianapolis, IN        IN         18         Indiana   42
34            Kansas City, MO        MO         29        Missouri   64
35                 Austin, TX        TX         48           Texas   74
36               Columbia, SC        SC         45  South Carolina   37
37                Madison, WI        WI         55       Wisconsin   45
38              Milwaukee, WI        WI         55       Wisconsin   45
39            Los Angeles, CA        CA         06      California   91

In [16]:
print(df.describe())
import pandas as pd

# Suponiendo que df es tu DataFrame
#df_limpio = df.dropna(subset=['airport_id'])
df.info()

         airport_id  airport_seq_id  city_market_id        wac
count     40.000000    4.000000e+01       40.000000  40.000000
mean   12349.675000    1.234971e+06    31539.750000  53.450000
std     1394.967942    1.394967e+05     1122.004679  18.837973
min    10397.000000    1.039707e+06    30194.000000  22.000000
25%    11208.500000    1.120854e+06    30669.500000  37.750000
50%    12265.000000    1.226502e+06    31176.000000  51.000000
75%    13312.750000    1.331279e+06    32369.500000  73.250000
max    15919.000000    1.591905e+06    34100.000000  91.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   airport_id      40 non-null     int64
 1   airport_seq_id  40 non-null     int64
 2   city_market_id  40 non-null     int64
 3   code            40 non-null     object
 4   city_name       40 non-null     object
 5   state_abr       40 non-null     object
 6   state_fips      40 non-null     object
 7   state_name      40 non-null     object
 8   wac             40 non-null     int64
dtypes: int64(4), object(5)
memory usage: 2.9+ KB

In [26]:
# Cerrar conexi√≥n
cur.close()
conn.close()